/* || General setup */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-image: url("./images/birds-mosaic.jpg");
 background-color: #f5edbf;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1 {
  font-family: 'Spectral SC', serif;
  color: #2a2a2a;
}

h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: white;
  background-color: #f5edbf;
  text-shadow: 1px 2px 3px #232175;
}

a:hover {
  background-color: white;
  text-shadow: 1px 2px 7px #232175;
}

/* || header layout */

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #00bcd4;
  box-shadow: #0a0a0aad 5px 5px 8px 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav li:hover {
  background-image: linear-gradient(to right, transparent, #f5edbf, transparent);
  transition-duration: 5s;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: transparent !important;
  text-shadow: none !important;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */
main, aside, article {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #80f0ff;
  box-shadow: #0a0a0aad 5px 5px 8px 0px;
}

@media (max-width: 800px) {
  article, aside {
    flex: 100%;
  }

  aside {
    margin: 10px 0px;
  }

  nav {
    flex-direction: row;
  }
}

aside li {
  padding-bottom: 10px;
}

aside a {
  outline: none;
  text-decoration: none;
}

aside a:link, aside a:visited {
  color: #689496;
}

aside a:hover {
  border-bottom: 1px solid;
  background: #CEECED;
}

footer {
  margin-top: 10px;
}

#compteur {
  font-size: 3em;
  text-align: center;
}

#animatedElem {
  position: fixed;
  background-color: red;
  height: 50px;
  width: 50px;
}
